.second {
    position:absolute;
    top:100px;
    bottom:0;
    width: 100%;
    left:0;
    background-color:#AAAAAA;
}

.top-distance{
  position: absolute;
  top: 8px;
  left: 55px;
}

.bigger-header{
  height: 120px:
}
